@use '../colors';

.image-container {
  position: relative;
  .thumbnail {
    overflow: hidden;
    position: relative;
    .frame {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
