@import "reset.css";
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }


html *{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:1.5em;
    background-color:magenta;
}

body {
    margin: 5% auto;
    padding: 5%;
}

p {
    font-size:1em;
}

p:hover{
    color:turquoise;
}

footer {
    font-size: .8em;
}

footer:hover{
    color:yellow;
}
img:hover {
    transform:
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(80deg);
    transition:0.5s;
}

.hearts:hover{
    transform:
    scale(1,5);
    transition:0.5s;
}

@media screen and (max-width: 575px) {
    h1{
        font-size:3.5em;
    }

}