@import "reset.css";
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

@font-face {
    font-family: 'voyageregular';
    src: url('voyage-regular-webfont.woff2') format('woff2'),
         url('voyage-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html * {
    background: black;
    font-family: 'voyageregular';
}

main {
    margin: 5% auto;
    padding: 5%;
}

h1 {
    color: white;
    font-size:7em;
    word-wrap: break-word;
}


@media screen and (max-width: 575px) {
    h1{
        font-size:3.5em;
    }

}