@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.imageContainer > img:hover {
    transition-duration: 00ms;
}

.container-1, .container-2, .container-3, .container-4{
    display:flex;
    padding:5%;
    justify-content: space-between;
    align-content: stretch;
    margin-left:5%;
    margin-right:5%;
    padding-bottom: 0%;
}

.container-1 div, .container-2 div, .container-3 div, .container-4 div{
    padding:15px;
}

.box-1{
    flex:1;
}

.box-2{
    flex:1;
}

.box-3{
    flex:1;
}

p {
    font-family: "Helvetica", sans serif;
    font-size: 15px;
	  font-weight: 300;
    line-height: 1.875;
    color:rgb(43, 43, 43);
}
  
header{
    text-align: right;
    margin-top: 5%;
    padding: 12px;
    letter-spacing: 10px;
    color: rgb(112, 112, 112);
    font-family: "Helvetica", sans serif;
    font-size: 13px;
    padding-top: 10px;
	  font-weight: 300;
	  line-height: 1.875;
}


footer {
    text-align: center;
    font-size: 12px;
    position: relative;
    left: 0;
    bottom: 20px;
    width: 100%;
    color: gray;
    font-family: "Helvetica", sans serif;
    font-size: 13px;
    padding-top: 10%;
	  font-weight: 300;
	  line-height: 1.875;
  }

h1 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    text-align: center;
    /* font-family: "Proxima Nova", sans serif; */
}


h2{
    font-size: 15px;
    color: rgb(255, 102, 14);
    letter-spacing: 5px;
    line-height: 150%;
    text-align: center;
    /* font-family: "Proxima Nova", sans serif; */
  }
  
h3{
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-family: "Helvetica", sans serif; 
}

h4{
    /* font-family: "Proxima Nova", sans serif;*/
    font-size: 22px;
    color:rgb(146, 146, 146)
}

a{
color: rgb(0, 179, 202);
}

a:hover {
color: rgb(134, 134, 134);
text-decoration: none;
}

.resume{
  background-color: rgb(255, 255, 255)
}

.download {
  background-color :none;
  border: none;
  color: rgb(255, 91, 41);
  cursor: pointer;
  font-size: 20px;
}

  button {
    padding: 5px;
    position:relative;
    left: 70%;
    bottom: 20%;
    border: none;
    background:none;
    font-size: 10px;
    transition-duration: 500ms;
    transition-property: background;
    border-radius: 3px;
  }

button:hover{
  background: rgb(255, 102, 14);
  color: rgb(255, 255, 255)
}

li {
  display: inline;
}

a.navigation{
  font-family: "Helvetica", sans serif;
  font-size: 15px;
  padding-top: 10px;
  font-weight: 300;
  line-height: 1.875;
  }

a.navigation:hover {
color: rgb(72, 175, 179);
text-decoration: none;
}

.navigation a.active{
  color:grey;
}

/*
pre, code {
  font-family: monospace, monospace;
  font-size:13px;
  color:white;
}
pre {
  overflow: auto;
}

pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
  background-color: grey;
}
 */

pre code {
  background-color: #eee;
  border: 1.5px solid #999;
  display: block;
  padding: 1rem;
  font-size:10px;
  font-family: monospace, monospace;
  overflow:auto;
  word-wrap:normal;
}

.navigation{
  margin-left:75%; 
  margin-top:5%;
  font-family: Helvetica, sans serif;
  font-size:15
}

#index_text{
  font-size: 45px;
  line-height: 1.2; 
  color:rgb(99,99,99);
}

@media screen and (max-width: 575px) {
  .container-1 {
    flex-direction: column;
  }
  .navigation {
    margin-left:50%; 
    margin-top:5%;
  }
  #index_text{
    font-size:28px;
    line-height:1.5;
  }
  #index_interest{
    font-size:25px;
  }
  #index_projects{
    font-size:20px;
  }
  .container-1{
    padding:3%;
  }
  .container-1 div, .container-2 div, .container-3 div, .container-4 div{
    padding:8px;
  }
}