/*
 * SCSS partial for allowing easy and consistent standardization of colors
 * across the application.

 * This file contains all the colors used in this application.
 */ 
 $color-primary: #A56DFF;
 $color-nominal: #21DF84;
 $color-caution: #FFD039;
 $color-danger: #FF2F46;
 
 $color-near-white: #FCFCFC;
 $color-grey-light: #E7E7E7;
 $color-grey: #9F9F9F;
 $color-grey-dark: #585858;
 $color-near-black: #222222;
 
 $color-background: rgb(0, 0, 0);

 $color-active-link:rgb(119, 119, 119);
 $color-body-text:$color-near-white;

 $color-button: $color-grey-light;
 $color-tag-outline: $color-near-black;
 $color-button-hover: $color-primary;
