$fade-in-time: 0.2s;

#app {
  font-family: freight-text-pro, serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  padding: 0;
}

.router__view {
  padding: 2rem;
  margin-left: $sidebar-width; /* sidebar-width; Same as the width of the sidebar */
  height: 100%;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: $sidebar-width; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid $highlight-color;
  transition: all $fade-in-time ease-in-out;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  padding-right: 0;
  padding-left: 0;
  text-decoration: none;
  font-size: 35px;
  color: $inactive-link-color;
  display: block;
  font-weight: 500;
  /* font-family: ibm-plex-mono, sans-serif; */
  border-radius: 50%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: $text-color;
}

.router-link-exact-active {
  color: white;
  // border: 1px dashed magenta;
  // border-radius: 50%;
  transition: border-color $fade-in-time ease-in-out;
}

.footer_container {
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid $highlight-color;
  transition: all $fade-in-time ease-in-out;
}

.footer__text {
  color: $highlight-color;
  font-weight: 400;
}


$sidenav-height: 4em;
$sidenav-paddingtop: 0.7em;
$router-padding-side: 2em;

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 1020px) {
  .sidenav {
    width: 100%;
    height: $sidenav-height;
    flex-direction: row;
    overflow-x: visible;
    align-items: stretch;
    padding-top: $sidenav-paddingtop;
    padding-bottom: $sidenav-paddingtop/2;
    /*justify-content: normal; */
  }

  .sidenav a {
    padding: 2vw;
  }

  .router__view {
    margin: 0;
    margin-top: $sidenav-height;
    padding-top: 0;
    padding-left: $router-padding-side;
    padding-right: $router-padding-side;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .footer__text {
    font-size: 0.7em;
    font-weight: 500;
    padding: 1em;
  }
}
