$image-top-bot-padding: 5vh;
$color-grey1: #e9e9e9;
$color-grey2: #9f9f9f;
$color-grey3: #585858;
$hr-color: $color-grey1;

* {
  text-align: left;
  background-color: white;
}

.root {
  padding: 5vh;
}

.ibm__typeface {
  font-family: ibm-plex-mono, sans-serif;
}

hr {
  border-top: 1px solid $hr-color;
}

a {
  color: black;
  text-decoration: underline;
}

h3 {
  font-weight: 800;
  font-size: 2vw;
}

.call__outs__wrapper {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.project__tags {
  width: 100%;
  display: table;
  table-layout: fixed;
  font-family: ibm-plex-mono, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

.project__tags li {
  display: table-cell;
  width: auto;
  text-align: center;
}

li {
  font-size: 1.2em;
}

.square__bullet__list {
  list-style-type: square;
  padding-left: 1.5em;
}

.square__bullet__list li {
  padding-bottom: 0.8em;
}

.banner__image {
  margin: 0;
  padding: 0;
}

.image {
  margin: 0;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.image__caption {
  font-size: 1.5em;
}

.image__side__padding {
  padding-right: 5px;
}

.image__text {
  padding-bottom: 1em;
}

.body__image {
  margin: 0;
  padding-top: $image-top-bot-padding;
  padding-bottom: $image-top-bot-padding;
}

.main__title {
  font-family: ibm-plex-mono, sans-serif;
  font-size: 3em;
  font-weight: 400;
  padding-top: 1vh;
}

.main__subtitle {
  font-size: 1.5em;
  font-weight: 100;
  padding-top: 1vh;
}

.body__text {
  font-size: 1.3em;
}

.section__title {
  font-size: 2em;
  font-weight: 400;
  font-style: italic;
}

.glitch-embed-wrap {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.expand__btn {
  text-decoration: underline;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border: dashed 2px black;
  cursor: pointer;
}

.expand__btn:hover {
  background-color: black;
  color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 600px) {
  .root {
    padding: 0;
    padding-top: 3vw;
  }

  .main__title {
    font-size: 1.2rem;
  }

  .main__subtitle {
    font-size: 1rem;
  }

  .project__tags {
    font-size: 0.7 em;
  }

  iframe {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .desktop__only {
    visibility: hidden;
    height: 0;
  }

  .section__title {
    font-size: 1.2em;
  }

  .body__text {
    font-size: 1em;
  }

  li {
    font-size: 0.8em;
  }

  .call__outs {
    font-size: 1em;
  }

  .body__text {
    font-size: 0.8em;
    padding-top: 0.5em;
  }

  .image__text {
    font-size: 0.8em;
  }

  hr {
    padding-bottom: 0.2sem;
  }
}
