footer {
  text-align: center;
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  color:gray;
}

.main-page-greeting {
  font-size: 80px;
  text-align: center;
  margin-top: 17%;
}

h2{
  font-size: 15px;
  padding: 10px;
  color: rgb(255, 102, 14);
  letter-spacing: 3px;
  line-height: 120%;
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
}

button {
  padding: 5px;
  position:relative;
  left: 60%;
  bottom: 20%;
  border: none;
  background:none;
  font-size: 20px;
  transition-duration: 500ms;
  transition-property: background;
  border-radius: 15px;
}

button:hover{
  background: rgb(255, 139, 72);
  color: rgb(255, 255, 255)
}