@use '../project';

.header_title {
  font-weight: 600;
  margin-bottom: 1vh;
}

.header_tile {
  margin-bottom: 3vh;
}

.header_content {
  font-size: project.$text-font-size;
}

.project_header_wrapper {
  // position: relative;
  // height: 100vh;
}
