@use "../font";
@use "../colors";

.callout_text {
  font-size: 1.5em;
  line-height: 1.2em;
  padding-bottom: 2vh;
}

.intro_callout {
  font-size: 2.5em;
  line-height: 1.2em;
  padding-bottom: 2vh;
}
