@use "../font";
@use "../colors";

.callout_text {
  font-size: 1.5em;
  line-height: 1.2em;
  padding-bottom: 2vh;
}

.intro_callout {
  font-size: 3em;
  line-height: 1.2em;
  padding-bottom: 2vh;
}

// responsive
@media screen and (max-width: 576px) {
  .intro_callout {
    font-size: 1.5em;
  }
}
