.transition_container {
    animation:transitionIn 3s;
}

.transition_container_slow {
    animation:transitionIn 5s;
}


@keyframes transitionIn{
    from {
        opacity:0;
        transform:rotateX(-10deg);
    }

    to {
        opacity:1;
        transform:rotateX(0deg);
    }

}