@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  // background-color: rgb(255, 254, 249);
}

* {
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;

  @media only screen and (max-width: 768px) {
    font-size: 1.6em;
  }
}

h2 {
  display: block;
  font-size: 1.7em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;

  @media only screen and (max-width: 768px) {
    font-size: 1.33em;
  }
}

h3 {
  display: block;
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 600;
  @media only screen and (max-width: 768px) {
    font-size: 1.25em;
  }
}

h4 {
  display: block;
  font-size: 1.13em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 600;
  @media only screen and (max-width: 768px) {
    font-size: 1.13em;
  }
}

p,
span,
li {
  font-size: 1em;
}

a,
span {
  font-weight: 500;
}

a.nav-link.active {
  color: rgb(236 72 153);
}

@media only screen and (max-width: 768px) {
  .landing-text,
  .work-text {
    font-size: 1em;
    font-weight: 500;
  }

  a.nav-link.active {
    background: none;
    text-decoration: underline;
  }

  a.nav-link span {
    font-size: 1em;
  }

  .work-text {
    font-size: 1em;
  }
}

#page-container {
  width: 85%;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.desktop-narrow-text {
  width: 75%;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
