@use "../colors";

.footer_wrapper {
  padding-bottom: 10vh;
}
.footer_wrapper .footer_greeting {
  color: colors.$secondary-color;
  font-size: 1.2em;
}

// responsive
@media screen and (max-width: 480px) {
  .footer_wrapper {
    padding-bottom: 5vh;
  }

  .footer_greeting {
    display: none;
  }
}
